body {
  background-color: black;
  text-align: center;
}

h1 {
  color: white;
  
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}

.purple {
  color: purple;
}

.green {
  color: green;
}